header {
    height: 50px; 
    width: 100%; 
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    align-items: baseline;
    justify-content: space-between;
    background-color: #001728;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
